.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sidebar-column {
  float: left;
  width: 30%;
  padding: 10px;
}
.main-column {
  float: right;
  width: 70%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.dragger {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 1000px;
  height: 600px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.sidebar {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.img-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 102px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
